.info {
    float: right;
    &:not(:hover):not(:focus) .callout {
        visibility: hidden;
    }
    .callout {
        font-family: "-apple-system",BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Ubuntu,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        color: black;
        border: solid 2px #eaeaea;
        text-align: center;
        position: absolute;
        z-index: 1;
        top: 1em;
        right: 0px;
        width: 350px;
        max-width: 100%;
        margin-left: -100px;
        background-color: white;
        padding: 8px;
        .message {
            margin-bottom: 10px;
        }
    }
}
.main-content {
    #attachment-container .file-thumbnails {
        display: flex;
        flex-wrap: wrap;
        padding: 5px;
        &.dropping-files {
            background-color: aliceblue;
        }
        .thumbnail-tile {
            margin: 5px;
            padding: 5px;
            border: 1px solid transparent;
            text-decoration: none;
            &:focus {
                background-color: aliceblue;
            }
            &:hover {
                border: 1px solid black;
            }
            &:not(:hover) {
                .title .delete-button {
                    display: none;
                }
            }
            .thumb-box {
                width: 100px;
                height: 100px;
                align-items: center;
                justify-content: center;
                display: flex;
                .thumbnail.image {
                    max-width: 100px;
                    max-height: 100px;
                    &.preview {
                        background-image: url('../img/checkerboard.png');
                    }
                }
                .thumbnail.file {
                    color: black;
                    font-size: 95px;
                }
                .overlay {
                    position: absolute;
                    font-size: 95px;
                    color: white;
                    text-shadow:
                    -1px -1px 0 #000,
                    1px -1px 0 #000,
                    -1px 1px 0 #000,
                    1px 1px 0 #000;
                }
            }
            .title {
                width: 100px;
                display: flex;
                justify-content: space-between;
                .text {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .delete-button {
                    height: 16px;
                    &:hover {
                        color: red;
                    }
                }
            }
        }
        .add-image {
            .file-input {
                display: none;
            }
            .add-button {
                &:focus {
                    background-color: aliceblue;
                }
                &:hover {
                    border: 1px solid black;
                }
            }
        }
    }
    .error-message {
        color: red;
    }
}