:root {
    /* Alias theme variables with defaults */
    /* Names assume light theme */
    --black: rgba(var(--palette-neutral-100, 0, 0, 0));
    --white: rgba(var(--palette-neutral-0, 255, 255, 255));
    --blue: rgba(var(--palette-primary-shade-10, 16, 110, 190));
    --aliceblue: rgba(var(--palette-primary-tint-40, 239, 246, 252));
    --darkaliceblue: rgba(var(--palette-primary-tint-30, 222, 236, 249));
    --red: rgba(var(--palette-accent1, 218, 10, 0));
    --lightgray: rgba(var(--palette-neutral-10, 218, 218, 218));
    --darkgray: rgba(var(--palette-neutral-80, 51, 51, 51));
    --gray: rgba(var(--palette-neutral-60, 102, 102, 102));
}
.gallery-body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    #gallery-wrapper {
        height: 100%;
    }
    .gallery {
        margin: 5px;
        display:flex;
        justify-content:space-between;
        align-items:center;
        background: var(--white);
        height: 100%;
        .center {
            color: var(--black);
            border: 1px solid var(--gray);
            max-height: 100%;
            max-width: calc(100% - 120px);
            &:focus {
                outline: 2px solid var(--black);
            }
            &.image {
                background-image: url('../img/checkerboard.png');
            }
            &.pdf {
                height: 100%;
                width: calc(100% - 120px);
            }
            &.text {
                height: 100%;
                width: calc(100% - 120px);
                background-color: var(--white);
                color: var(--black);
                white-space: pre-wrap;
                word-break: break-word;
                overflow-y: auto;
                &.loading {
                    background-color: var(--lightgray);
                }
            }
        }
        .nav-button {
            width: 50px;
            max-height: 100%;
            display: flex;
            overflow: hidden;
            cursor: pointer;
            height: 100%;
            align-items: center;
            &:focus {
                outline: 2px solid var(--black);
            }
            .chevron-button {
                color: var(--black);
                font-size: 50px;
            }
            &:hover .chevron-button {
                color: var(--darkgray);
            }
        }
    }
}