.gallery-body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    #gallery-wrapper {
        height: 100%;
    }
    .gallery {
        border: 1px solid black;
        margin: 5px;
        display:flex;
        justify-content:space-between;
        align-items:center;
        background: black;
        height: 100%;
        .center {
            color: white;
            border: 1px solid gray;
            &:focus {
                outline: 2px solid white;
            }
            &.gallery-image {
                max-height: 100%;
                max-width: calc(100% - 120px);
                background-image: url('../img/checkerboard.png');
            }
            &.gallery-preview {
                height: 100%;
                width: calc(100% - 120px);
            }
        }
        .nav-button {
            width: 50px;
            max-height: 100%;
            display: flex;
            overflow: hidden;
            cursor: pointer;
            height: 100%;
            align-items: center;
            &:focus {
                outline: 2px solid white;
            }
            .chevron-button {
                color: white;
                font-size: 50px;
            }
            &:hover .chevron-button {
                color: lightgray;
            }
        }
    }
}